.graphic{
	position: absolute;
	right: 0;
	top:100px;
}
.graphic img{
	height: 640px;
}
.header-body h1{
	color:#0e7162;
}
.carddeck-1 .card-item{
	padding-left:20px;
	background: url(../img/green-dotted-border.png) repeat-y;
	background-size: 2px 8px;
	height: 100%;
}
.company-logo {
  max-width: 200px;
}